<footer id="footer">
  <div class="content wrapper">
    <section class="item">
      <h3 class="footer-h3">About</h3>
      <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      <ul class="about-li">
        <li><a href="#" class="arrow">プロフィール詳細</a></li>
        <li><a href="#" class="arrow">お仕事の依頼</a></li>
        <li><a href="#" class="arrow">お問い合わせ</a></li>
      </ul>
    </section>

    <section class="item">
      <h3 class="footer-h3">SNS</h3>
      <ul class="menu-li">
        <li><a href="#"><%= "@user.SNS1" %></a></li>
        <li><a href="#"><%= "@user.SNS2" %></a></li>
        <li><a href="#"><%= "@user.SNS3" %></a></li>
      </ul>
    </section>

    <section class="item">
      <h3 class="footer-h3">Twitter</h3>
      <a class="twitter-timeline" data-height="315" href="https://twitter.com/TwitterJP?ref_src=twsrc%5Etfw">Tweets by TwitterJP</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section>
  </div>
  
  <p class="copyright">&copy; OutPut_Tree</p>
</footer>