<aside id="sidebar">
  <section class="author">
  <% if current_user.user_image.present? %>
    <%= image_tag(current_user.user_image) %>
  <% else %>
    <%= image_tag("noimage_human.png") %>
  <% end %>
    <h3 class="right-h3"><%= current_user.nickname %></h3>
    <p class="profile">
      <% if current_user.profile.present? %>
        <%= current_user.profile %>
      <% else %>
        プロフィール情報は入力されていません
      <% end %>
    </p>
  </section>

  <section class="ranking">
    <h3 class="right-h3">Ranking</h3>
    <article>
      <a href="#">
        <img src="img/ranking1.jpg" alt="">
        <h4 class="article-title">タイトルテキストテキストテキストテキストテキストテキスト</h4>
      </a>
    </article>

    <article>
      <a href="#">
        <img src="img/ranking1.jpg" alt="">
        <h4 class="article-title">タイトルテキストテキストテキストテキストテキストテキスト</h4>
      </a>
    </article>

    <article>
      <a href="#">
        <img src="img/ranking1.jpg" alt="">
        <h4 class="article-title">タイトルテキストテキストテキストテキストテキストテキスト</h4>
      </a>
    </article>
  </section>

  <section class="archive">
    <h3 class="right-h3">Archive</h3>
    <ul>
      <li><a href="#"> XXXX年XX月</a>（XX）</li>
      <li><a href="#"> XXXX年XX月</a>（XX）</li>
      <li><a href="#"> XXXX年XX月</a>（XX）</li>
      <li><a href="#"> XXXX年XX月</a>（XX）</li>
      <li><a href="#"> XXXX年XX月</a>（XX）</li>
      <li><a href="#"> XXXX年XX月</a>（XX）</li>
      <li><a href="#"> XXXX年XX月</a>（XX）</li>
      <li><a href="#"> XXXX年XX月</a>（XX）</li>
      <li><a href="#"> XXXX年XX月</a>（XX）</li>
      <li><a href="#"> XXXX年XX月</a>（XX）</li>
    </ul>
  </section>
</aside>