<%= render "shared/header" %>

<main>
  <% if user_signed_in? %>
    <%= render "login_index.html.erb" %>
  <% else %>
    <%= render "notlogin_index.html.erb" %>
  <% end %>

  </div>

  <div id="pickup" class="wrapper">
  <article>
    <img src="img/pickup1.jpg" alt="テキストテキスト">
    <h2 class="sample-text">タイトルテキストタイトルテキストタイトルテキストタイトルテキスト</h2>
    <div class="read-more">
      <a href="#">READ MORE</a>
    </div>
  </article>

  <article>
    <img src="img/pickup2.jpg" alt="テキストテキスト">
    <h2 class="sample-text">タイトルテキストタイトルテキストタイトルテキストタイトルテキスト</h2>
    <div class="read-more">
      <a href="#">READ MORE</a>
    </div>
  </article>

  <article>
    <img src="img/pickup3.jpg" alt="テキストテキスト">
    <h2 class="sample-text">タイトルテキストタイトルテキストタイトルテキストタイトルテキスト</h2>
    <div class="read-more">
      <a href="#">READ MORE</a>
    </div>
  </article>
</div>
</main>

<%= render "shared/footer.html.erb" %>

