<%= render "shared/header" %>

<main>
<div id="pickup" class="wrapper">
  <article>
    <img src="img/pickup1.jpg" alt="テキストテキスト">
    <h2 class="sample-text">タイトルテキストタイトルテキストタイトルテキストタイトルテキスト</h2>
    <div class="read-more">
      <a href="#">READ MORE</a>
    </div>
  </article>

  <article>
    <img src="img/pickup2.jpg" alt="テキストテキスト">
    <h2 class="sample-text">タイトルテキストタイトルテキストタイトルテキストタイトルテキスト</h2>
    <div class="read-more">
      <a href="#">READ MORE</a>
    </div>
  </article>

  <article>
    <img src="img/pickup3.jpg" alt="テキストテキスト">
    <h2 class="sample-text">タイトルテキストタイトルテキストタイトルテキストタイトルテキスト</h2>
    <div class="read-more">
      <a href="#">READ MORE</a>
    </div>
  </article>
</div>

  <div id="container" class="wrapper">
    <main>
      <article>
        <h2 class="article-title">タイトルテキストテキストテキストテキストテキスト</h2>
        <ul class="meta">
          <li><a href="#">2020/01/01</a></li>
          <li><a href="#">カテゴリ1</a></li>
        </ul>
        <a href="#"><img src="img/main1.jpg" alt="テキストテキスト"></a>
        <p class="main-text">本文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        <div class="read-more">
          <a href="#">READ MORE</a>
        </div>
      </article>

      <article>
        <h2 class="article-title">タイトルテキストテキストテキストテキストテキスト</h2>
        <ul class="meta">
          <li><a href="#">2020/01/01</a></li>
          <li><a href="#">カテゴリ1</a></li>
        </ul>
        <a href="#"><img src="img/main2.jpg" alt="テキストテキスト"></a>
        <p class="main-text">本文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        <div class="read-more">
          <a href="#">READ MORE</a>
        </div>
      </article>

      <article>
        <h2 class="article-title">タイトルテキストテキストテキストテキストテキスト</h2>
        <ul class="meta">
          <li><a href="#">2020/01/01</a></li>
          <li><a href="#">カテゴリ1</a></li>
        </ul>
        <a href="#"><img src="img/main3.jpg" alt="テキストテキスト"></a>
        <p class="main-text">本文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        <div class="read-more">
          <a href="#">READ MORE</a>
        </div>
      </article>
    </main>

    <aside id="sidebar">
      <section class="author">
        <%= image_tag("profile_test.jpg") %>
        <h3 class="right-h3">Name Name</h3>
        <p class="profile">プロフィールテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </section>

      <section class="ranking">
        <h3 class="right-h3">Ranking</h3>
        <article>
          <a href="#">
            <img src="img/ranking1.jpg" alt="">
            <h4 class="article-title">タイトルテキストテキストテキストテキストテキストテキスト</h4>
          </a>
        </article>

        <article>
          <a href="#">
            <img src="img/ranking1.jpg" alt="">
            <h4 class="article-title">タイトルテキストテキストテキストテキストテキストテキスト</h4>
          </a>
        </article>

        <article>
          <a href="#">
            <img src="img/ranking1.jpg" alt="">
            <h4 class="article-title">タイトルテキストテキストテキストテキストテキストテキスト</h4>
          </a>
        </article>
      </section>

      <section class="archive">
        <h3 class="right-h3">Archive</h3>
        <ul>
          <li><a href="#"> XXXX年XX月</a>（XX）</li>
          <li><a href="#"> XXXX年XX月</a>（XX）</li>
          <li><a href="#"> XXXX年XX月</a>（XX）</li>
          <li><a href="#"> XXXX年XX月</a>（XX）</li>
          <li><a href="#"> XXXX年XX月</a>（XX）</li>
          <li><a href="#"> XXXX年XX月</a>（XX）</li>
          <li><a href="#"> XXXX年XX月</a>（XX）</li>
          <li><a href="#"> XXXX年XX月</a>（XX）</li>
          <li><a href="#"> XXXX年XX月</a>（XX）</li>
          <li><a href="#"> XXXX年XX月</a>（XX）</li>
          <li><a href="#"> XXXX年XX月</a>（XX）</li>
          <li><a href="#"> XXXX年XX月</a>（XX）</li>
          <li><a href="#"> XXXX年XX月</a>（XX）</li>
          <li><a href="#"> XXXX年XX月</a>（XX）</li>
          <li><a href="#"> XXXX年XX月</a>（XX）</li>
        </ul>
      </section>
    </aside>
  </div>
</main>

<%= render "shared/footer.html.erb" %>

